@tailwind base;
@tailwind components;
@tailwind utilities;
.styles_animation__lKdn4 {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.animate {
  transform: translateY(-10px); /* Move the SVG up */
  opacity: 0; 
}
.color-change path {
  fill: #ff007f;
  transition: fill 0.3s;}

